Repository riddle-rs/riddle, pull requests merged in 2020-10, with the labels that each got.

#52 MP3 support.
  CHANGELOG.md
  CODING_CONVENTIONS.md
  README.md
  riddle-audio/Cargo.toml
  riddle-audio/src/clip.rs
  riddle-audio/src/doctest.rs
  riddle-audio/src/lib.rs
  riddle-common/src/eventpub.rs
  riddle-common/src/lib.rs
  riddle-font/src/lib.rs
  riddle-image/src/lib.rs
  riddle-input/src/lib.rs
  riddle-math/src/lib.rs
  riddle-platform-common/src/doctest.rs
  riddle-platform-common/src/lib.rs
  riddle-platform-common/src/scancode.rs
  riddle-platform-common/src/traits/mod.rs
  riddle-platform-winit/src/lib.rs
  riddle-renderer-wgpu/src/ext/mod.rs
  riddle-renderer-wgpu/src/lib.rs
  riddle-time/src/doctest.rs
  riddle-time/src/lib.rs
  riddle/Cargo.toml
  riddle/src/context.rs
  riddle/src/lib.rs
  riddle/src/state.rs
Labels: C-All, C-Audio, enhancement

#53 Use RustAudio/rodio:master as rodio source
  CHANGELOG.md
  riddle-audio/Cargo.toml
Labels: C-Audio

#54 Renderer generic over WGPU device
  CHANGELOG.md
  README.md
  riddle-common/src/clone_handle.rs
  riddle-renderer-wgpu/src/ext/mod.rs
  riddle-renderer-wgpu/src/lib.rs
  riddle-renderer-wgpu/src/sprite_utils.rs
  riddle-renderer-wgpu/src/swap_chain_target.rs
  riddle-renderer-wgpu/src/wgpu_ext/buffered_renderer.rs
  riddle-renderer-wgpu/src/wgpu_ext/device.rs
  riddle-renderer-wgpu/src/wgpu_ext/mod.rs
  riddle-renderer-wgpu/src/wgpu_ext/render_context.rs
  riddle-renderer-wgpu/src/wgpu_ext/renderable.rs
  riddle-renderer-wgpu/src/wgpu_ext/renderer.rs
  riddle-renderer-wgpu/src/wgpu_ext/shader.rs
  riddle-renderer-wgpu/src/wgpu_ext/sprite.rs
  riddle-renderer-wgpu/src/wgpu_ext/sprite_atlas.rs
  riddle-renderer-wgpu/src/wgpu_ext/sprite_render_target.rs
  riddle-renderer-wgpu/src/wgpu_ext/swap_chain_target.rs
  riddle-renderer-wgpu/src/wgpu_ext/target.rs
  riddle-renderer-wgpu/src/wgpu_ext/texture.rs
  riddle-renderer-wgpu/src/wgpu_ext/vertex.rs
  riddle-renderer-wgpu/src/wgpu_ext/window_device.rs
  riddle/Cargo.toml
  riddle/examples/pong/main.rs
  riddle/examples/sandbox/main.rs
  riddle/examples/wgpu-renderer-overlay/custom_renderer.rs
  riddle/examples/wgpu-renderer-overlay/main.rs
  riddle/examples/wgpu-renderer-overlay/shaders/default.frag
  riddle/examples/wgpu-renderer-overlay/shaders/default.frag.spv
  riddle/examples/wgpu-renderer-overlay/shaders/default.vert
  riddle/examples/wgpu-renderer-overlay/shaders/default.vert.spv
Labels: C-Renderer, enhancement

#59 Add extension traits to expose underlying types and isolate internal funcs
  CHANGELOG.md
  riddle-audio/src/audio_system.rs
  riddle-audio/src/doctest.rs
  riddle-audio/src/ext/audio_system.rs
  riddle-audio/src/ext/mod.rs
  riddle-audio/src/lib.rs
  riddle-font/src/lib.rs
  riddle-font/src/rusttype_ext/mod.rs
  riddle-font/src/rusttype_ext/ttfont.rs
  riddle-font/src/ttfont.rs
  riddle-image/src/image.rs
  riddle-image/src/image_ext/image.rs
  riddle-image/src/image_ext/mod.rs
  riddle-image/src/lib.rs
  riddle-input/src/ext/input_system.rs
  riddle-input/src/ext/mod.rs
  riddle-input/src/input_system.rs
  riddle-input/src/lib.rs
  riddle-platform-common/src/dimensions.rs
  riddle-platform-common/src/doctest.rs
  riddle-platform-common/src/traits/window.rs
  riddle-platform-winit/src/ext/mod.rs
  riddle-platform-winit/src/ext/platform_system.rs
  riddle-platform-winit/src/lib.rs
  riddle-platform-winit/src/platform_system.rs
  riddle-platform-winit/src/window.rs
  riddle-platform-winit/src/winit_ext/mod.rs
  riddle-platform-winit/src/winit_ext/window.rs
  riddle-time/src/doctest.rs
  riddle-time/src/ext/mod.rs
  riddle-time/src/ext/time_system.rs
  riddle-time/src/lib.rs
  riddle-time/src/time_system.rs
  riddle/src/state.rs
Labels: C-All, enhancement

#61 Add scancodes for macos. Fixes #42
  riddle-platform-common/src/scancode.rs
Labels: C-Input

#63 Upgrade to rodio 0.12 from crates.io
  CHANGELOG.md
  riddle-audio/Cargo.toml
Labels: C-Audio

#64 Relax run_with_err bounds
  CHANGELOG.md
  riddle/src/riddle_lib.rs
  riddle/src/state.rs
Labels: C-Riddle

#65 Add clippy to build, fix existing issues
  .github/workflows/rust.yml
  CHANGELOG.md
  riddle-audio/src/audio_system.rs
  riddle-audio/src/clip_player.rs
  riddle-audio/src/doctest.rs
  riddle-audio/src/ext/audio_system.rs
  riddle-audio/src/fades.rs
  riddle-audio/src/lib.rs
  riddle-common/src/eventpub.rs
  riddle-common/src/lib.rs
  riddle-font/src/lib.rs
  riddle-image/src/image.rs
  riddle-image/src/lib.rs
  riddle-input/src/ext/input_system.rs
  riddle-input/src/gamepad.rs
  riddle-input/src/gamepad_state.rs
  riddle-input/src/input_system.rs
  riddle-input/src/lib.rs
  riddle-math/src/lib.rs
  riddle-platform-common/src/lib.rs
  riddle-platform-winit/src/ext/platform_system.rs
  riddle-platform-winit/src/lib.rs
  riddle-platform-winit/src/platform_system.rs
  riddle-platform-winit/src/window.rs
  riddle-renderer-wgpu/src/lib.rs
  riddle-renderer-wgpu/src/wgpu_ext/renderer.rs
  riddle-renderer-wgpu/src/wgpu_ext/shader.rs
  riddle-renderer-wgpu/src/wgpu_ext/sprite.rs
  riddle-renderer-wgpu/src/wgpu_ext/sprite_atlas.rs
  riddle-renderer-wgpu/src/wgpu_ext/sprite_render_target.rs
  riddle-renderer-wgpu/src/wgpu_ext/swap_chain_target.rs
  riddle-renderer-wgpu/src/wgpu_ext/texture.rs
  riddle-renderer-wgpu/src/wgpu_ext/vertex.rs
  riddle-renderer-wgpu/src/wgpu_ext/window_device.rs
  riddle-time/src/doctest.rs
  riddle-time/src/ext/time_system.rs
  riddle-time/src/lib.rs
  riddle-time/src/time_system.rs
  riddle/src/lib.rs
  riddle/src/riddle_lib.rs
  riddle/src/state.rs
Labels: C-All
